.Navbar {
    height: 80px;
    width: 100%;
    background-color: #e1604d;
}

.NavBtn {
    text-decoration: none;
    font-size: 1.2rem;
}

.NavTitle {
    height: 80px;
    left: 75%;
    font-size: 2.5rem;
    color: white;
    font-family: "Poetsen One", sans-serif;
}